/* Reset */

table {
  width: 100%;
}

td, th {
  padding: unset;
}

html {
  /* font-size: 62.5%; */
}

body {
  /* margin: 7sp 4sp; */
  @apply f-3 ct;
}

:--heading,
:--text-block,
:--code-block {
}

:--heading {
  @apply my-4;
  @apply font-heading;
}

h1 {
  @apply f-8;
  color: var(--heading-color);
}

h2 {
  @apply f-7;
  color: var(--heading-color);
}

h3 {
  @apply f-6;
  color: var(--heading-color);
}

h4 {
  @apply f-5;
  color: var(--heading-color);
}

h5 {
  @apply f-4;
  color: var(--heading-color);
}

h6 {
  @apply f-3 font-bold;
  color: var(--heading-color);
}

:--text-block {
  @apply my-6;
}

a {
  cursor: pointer;
  color: var(--link-color);
}

small {
  @apply font-legal;
}

caps {
  @apply font-caps;
}

blockquote,
q {
  @apply font-quote;
}

code {
  @apply font-code;
}

pre {
  background-color: inherit;
}

:--code-inline {
  @apply ct-contrast p-1 rounded-sm; 
}

:--code-block {
  /* padding: 2sp; */
  display: block;
  @apply ct-contrast p-4 rounded-sm;
}

table {
  @apply my-6;
  @apply border-t border-b border-gray-200;
}

td, th {
  @apply py-1;
}

tr {
  @apply border-t border-b border-gray-200;
}

